@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --color_bg: #8c1b1b;
  --color_secbg: #311e8d;
  --color_text: #ebdbdb;
  --color_btnh: #ccc;
  --color_winner: #2f2f2f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: var(--color_text);
  background-image: linear-gradient(
    to top left,
    var(--color_bg) 0%,
    var(--color_secbg) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
/*@media (max-width: 768px) {
  body {
    overflow: hidden;
  }
}*/

/* ================================================================= */
main {
  position: relative;
  width: 100rem;
  max-width: 100%;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}
/* ================================================================= */
.player {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem;
  gap: 2rem;
  transition: background-color 0.5s ease-in-out;
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 85%;
  }

  .player {
    width: 100%;
    padding: 2rem;
    gap: 1rem;
  }
  .player_1 {
    height: 40%;
    margin-top: 7rem;
  }
  .player_0 {
    height: 60%;
  }
}
/* ================================================================= */
.name {
  font-size: 5rem;
  color: #333;
  font-weight: 300;
}
.active .name {
  font-weight: 700;
}
.active {
  background-color: rgb(255, 255, 255, 0.4);
}

@media (max-width: 768px) {
  .name {
    font-size: 2.5rem;
  }
}
/* ================================================================= */
.score {
  font-size: 10rem;
  color: var(--color_secbg);
}
.current_score {
  background-image: linear-gradient(
    to top left,
    var(--color_bg) 0%,
    var(--color_secbg) 100%
  );
  text-align: center;
  padding: 2rem 6rem;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  font-size: 3rem;
  color: var(--color_text);
  margin-top: 8rem;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .current_score {
    font-size: 2rem;
    padding: 2rem 4rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
}
/* ================================================================= */
.mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 120rem;
}
@media (max-width: 768px) {
  .mid {
    height: 275vh;
  }
}
/* ================================================================= */
.btn {
  color: #444;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  text-transform: uppercase;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn:active {
  transform: translateY(3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}
.bottom {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (max-width: 768px) {
  .bottom {
    display: flex;
    flex-direction: row;
    width: 90vw;
  }
  .new {
    width: 60vw;
    align-self: center;
  }
}
/* ================================================================= */
.dice {
  align-self: center;
  width: 15rem;
  height: 25%;
  border-radius: 9px;
}
.imgo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .dice {
    width: 12rem;
    height: 8%;
  }
}
/* ================================================================= */
.player--winner {
  background-color: var(--color_winner);
}

.player--winner .name {
  font-weight: 700;
  color: var(--color_bg);
}

.hidden {
  display: none;
}



